.emotion-header {
    font-size: 144px;
    margin: 40px 0;
    position: absolute;
    left: -50px;
    line-height: 1;
    z-index: 10;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.video-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
#inputVideo {
    width: 100%;
}

#colorBox {
    width: 100%;
    height: 0;
    transition: all 200ms ease-in-out;
    position: absolute;
    bottom: 0;
}

#main {
    background: green;
}

#hiddenCanvas {
    opacity: 0;
}

.playlist-container {
    position: absolute;
    top: 100px;
    right: calc(var(--margin) + 40px);
    height: 380px;
    width: 300px;
}
.shadow {
    position: absolute;
    height: 380px;
    width: 300px;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border-color: #48ac8e;
    border-style: solid;
    background-color: transparent;
}
