.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.video-area {
    position: relative;
    width: 100%;
    background: var(--black);
}
.video-area canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
video {
    opacity: 0;
}
.emotion-header {
    font-size: 144px;
    margin: 0;
    position: absolute;
    top: 0;
    left: -50px;
    line-height: 0;
    z-index: 10;
}
#inputVideo {
    width: 100%;
}

#colorBox {
    width: 100%;
    height: 0;
    transition: all 50ms ease-in-out;
    position: absolute;
    bottom: 0;
}

#main {
    background: green;
}

#hiddenCanvas {
    opacity: 0;
    position: absolute;
}

.playlist-container {
    position: absolute;
    top: 100px;
    right: calc(var(--margin) + 40px);
    height: 380px;
    width: 300px;
    z-index: 10;
}
#shadow {
    position: absolute;
    height: 380px;
    width: 300px;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border-style: solid;
    background-color: transparent;
}
